include *.txt
include *.md
include *.joblib
recursive-include ./classification_model/*

include classification_model/datasets/sample_train_data.csv
include classification_model/datasets/test.csv
include classification_model/trained_models/*.joblib
include classification_model/VERSION
include classification_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]